body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("images/estadioExtraLarge.jpg");

  /* Fullscreem */
  height: 100%; 
  width: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: table;}             

#buttons {

  display: table-cell;
  vertical-align: middle;
  text-align: center;  }

.btn {
  margin: 5px;}

.navbar {
  text-align: left;}
  
#p1 {
  visibility: visible;}

#p2, #p3 {
  /*  visibility: hidden;*/}

html,body, #about {
  background-color: black;   
  background-size: 100% 100%;    
  background-repeat: no-repeat; 
  font-family: "Itim", "cursive";
  font-size: large;} 



@media (max-width: 569.98px) {
  .bg{
    background-image: url("images/estadioExtraSmall.jpg");
  }  
}

@media (min-width: 570px) and (max-width: 767.98px) {
.bg{
    background-image: url("images/estadioSmall.jpg");
  }  
}

@media (min-width: 768px) and  (max-width: 991.98px) {
  .bg{
    background-image: url("images/estadioMedium.jpg");
  }  
}

@media (min-width: 992px) and  (max-width: 1199.98px) {
  .bg{
    background-image: url("images/estadioLarge.jpg");
  }  
} 

@media (orientation: landscape){
  .bg{
    background-image: url("images/estadioExtraLarge.jpg");
  }
}

@media (orientation: landscape) and (max-width: 700px){
  .bg{
    background-image: url("images/estadioExtraLarge2.jpg");
  }
}
